<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">PAPA</a>
            </div>
            <ul class="nav navbar-nav">
                @*
        <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="@Url.Action("About","Home")">About US</a></li>
        <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                *@

                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("About Us", "About", "Home")
                </li>
                <li>
                    @Html.ActionLink("Contact Us", "Contact", "Home")
                </li>
                <li>
                    @Html.ActionLink("Create Category", "Create", "Home")
                </li>
                <li>
                    @Html.ActionLink("list Category", "List", "Home")
                </li>
                <li>
                    @Html.ActionLink("Create New Category", "CreateCategory", "Home")
                </li>
               
            </ul>
        </div>
    </nav>
    @RenderBody()
    <div class="container">
        <h4>All &copy; rights reserved by Tech Magnetics Pvt Ltd</h4>
    </div>




</body>
</html>